    /*FOOTER*/

    .footer{
        background-color:$backgroundcolorheaderfooter;
        .footerFlex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        .footerFlex ul{
                display: flex;
                list-style-type: none;
                margin: 15px;
                .footerFlex img{
                    margin:0px 10px;
                    width: 40px;
                    height: 40px;
                }

        }
        

    }
    .footerFlex small{
        display: flex;
        margin-bottom: 15px;
        font-family: 'Heebo', sans-serif;
        color: #bbadad;
        font-size: 18px;
}  

}
