/*Colores*/
$backgroundcolorheaderfooter: #372C2C;
$colorh2: #322828;
$colorformulario:#3a3939;

/*MAPAS*/
$fuentes: (
    delgada: lighter,
    quinientos:500,
    quinientoscincuenta:550,
    seiscientos:600,
    setecientos:700,
    novecientos:900
);




